{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        function load() {
            alert("Loading...");
        }
        function pickaxe() {
            alert("Pickaxe");
        }
        function rest(i) {
            alert("Rest "+i);
        }
        function hand(i) {
            alert("Hand "+i);
        }
    </script>
{% endblock %}

{% block main %}
    <main class="container">
        <div class="row">
            <div class="col s2 offset-s3">
                <img src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:75%;transform: translate(50%);"/>
            </div>
            <div class="col s2">
                <img src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:75%;"/>

            </div>
            <div class="col s2">
                <img src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:75%;transform: translate(-50%);"/>
            </div>
        </div>
        <div class="row">
            <div class="col s2">
                <img id="left3" src="{{ asset('images/blue_back.png') }}" style="transform: rotate(90deg)translate(-100%,-75%);height:auto;max-width:75%;"/>
            </div>
            <div class="col s2 offset-s3">
                <img id="pickaxe" onclick="pickaxe()" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:75%;"/>
            </div>
            <div class="col s2 offset-s3">
                <img id="right3" src="{{ asset('images/blue_back.png') }}" style="transform: rotate(90deg)translate(-100%,75%);height:auto;max-width:75%;"/>
            </div>
        </div>
        <div class="row">
            <div class="col s2">
                <img id="left2" src="{{ asset('images/blue_back.png') }}" style="transform: rotate(90deg)translate(-175%,-75%);height:auto;max-width:75%;"/>
            </div>
            <div class="col s2 offset-s8">
                <img id="right2" src="{{ asset('images/blue_back.png') }}" style="transform: rotate(90deg)translate(-175%,75%);height:auto;max-width:75%;"/>
            </div>
        </div>
        <div class="row">
            <div class="col s2">
                <img id="left1" src="{{ asset('images/blue_back.png') }}" style="transform: rotate(90deg)translate(-250%,-75%);height:auto;max-width:75%;"/>
            </div>
            <div class="col s2 offset-s8">
                <img id="right1" src="{{ asset('images/blue_back.png') }}" style="transform: rotate(90deg)translate(-250%,75%);height:auto;max-width:75%;"/>
            </div>
        </div>
        <div class="row">
            <div class="col s2 offset-s3">
                <img onclick="rest(1)" id="rest1" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:75%;transform:translate(50%,-225%);"/>
            </div>
            <div class="col s2">
                <img onclick="rest(2)" id="rest2" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:75%;transform:translate(0,-225%);"/>

            </div>
            <div class="col s2">
                <img onclick="rest(3)" id="rest3" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:75%;transform:translate(-50%,-225%);"/>
            </div>
        </div>
        <div class="row">
            <div class="col s1">
                <img id="hand1" onclick="hand(1)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand2" onclick="hand(2)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand3" onclick="hand(3)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand4" onclick="hand(4)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand5" onclick="hand(5)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand6" onclick="hand(6)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand7" onclick="hand(7)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand8" onclick="hand(8)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand9" onclick="hand(9)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand10" onclick="hand(10)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand11" onclick="hand(11)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand12" onclick="hand(12)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
        </div><div class="row">
            <div class="col s1">
                <img id="hand13" onclick="hand(13)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand14" onclick="hand(14)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand15" onclick="hand(15)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand16" onclick="hand(16)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand17" onclick="hand(17)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand18" onclick="hand(18)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand19" onclick="hand(19)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand20" onclick="hand(20)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand21" onclick="hand(21)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand22" onclick="hand(22)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand23" onclick="hand(23)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
            <div class="col s1">
                <img id="hand24" onclick="hand(24)" src="{{ asset('images/blue_back.png') }}" class="responsive-img" style="max-width:125%;transform:translate(0,-325%);"/>
            </div>
        </div>

    </main>
{% endblock %}
